/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/src/CarBundle/Resources/public/images/carstats/*.jpg
/nbproject

.idea
/.idea/vcs.xml
/.idea/misc.xml
