<p align="center">Auto budżet</p>
<p align="center">
    <a href="{{ path('car_list_of_cars') }}"> Lista samochodów</a>
    {% if app.user %}
        <a href="{{ path('car_add_car') }}"> Dodaj samochód</a>
    {% endif %}
</p>
