{# empty Twig template #}
list of cars!!!

<table>
{% for car in carList %}
    <tr>
        <td>{{ car.id }}</td>
        <td><a href="show/{{ car.id }}">{{ car.make }}</a></td>
        <td>{{ car.model }}</td>
    </tr>
{% endfor %}
</table>