{% extends 'CarBundle:Default:main.html.twig' %}
{% block content %}
<h3>{% trans %}List of cars{% endtrans %}</h3>

<table>
{% for car in carList %}
    <tr>
        <td>{{ car.id }}</td>
        <td><a href="show/{{ car.id }}">{{ car.make.name }} {{ car.model.name }}</a></td>
        <td></td>
    </tr>
{% endfor %}
</table>
{% endblock %}