<html>
    <head>
        <meta charset="UTF-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/car.css') }}">
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    </head>
    <body>
        <div id="header">
        {% include('CarBundle:Default:header.html.twig') %}
        </div>

        <div id="wrapper">
        {% block content %}{% endblock %}
        </div>


        <div id="footer">
{#        {% include('@CarBundle/footer.html.twig') %}#}
        </div>
    </body>
</html>