table {
    width: 90%;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:3px 3px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg th {
    background-color: greenyellow;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg .tg-yw4l {
    vertical-align:top
}

.carSummary{
    border-collapse:collapse;
    border-spacing:0;
    width: 35%;
    background-color: lightyellow;
    font-family: Arial, sans-serif;
    font-size:12px;
    font-weight:normal;
    padding:5px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}

.carSummary td {
    border-top-style: solid;
    border-top: 1px;
    border-top-color: greenyellow;
    border-bottom-style: solid;
    border-bottom: 1px;
    border-bottom-color: greenyellow;
}
