<div class="banner">
		<div class="banner-title">
			<div class="container">
				<div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="banner-text">
								<h2>{% trans %}Auto budget{% endtrans %}</h2>
								<p>Donec vitae tellus non sem vulputate cursus. Aliquam erat volutpat. Proin ut est et sem rhoncus fringilla laoreet </p>
								<a class="more" href="#"> Read More</a>
							</div>
						</li>
						<li>
							<div class="banner-text">
								<h2>{% trans %}Auto budget{% endtrans %}</h2>
								<p>Vitae Deonec tellus non sem vulputate cursus. Aliquam erat volutpat. Proin ut est et sem rhoncus fringilla laoreet </p>
								<a class="more" href="#"> Read More</a>
							</div>
						</li>
						<li>
							<div class="banner-text">
								<h2>{% trans %}Auto budget{% endtrans %}</h2>
								<p>Sem donec vitae tellus non  vulputate cursus. Aliquam erat volutpat. Proin ut est et sem rhoncus fringilla laoreet </p>
								<a class="more" href="#"> Read More</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
